div.scrollmenu {
  align-items: center;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu button {
  display: inline-block;
  background-color: #333;
  border: 0px;
  color: #777;
  text-align: center;
  text-decoration: none;
}

div.scrollmenu button:hover {
  background-color: #777;
}
